html{
    background-color: #ffffff;
    font-family: 'Manrope'; font-weight: normal;
}

.rectangle{
    background-color: #B6B0B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: flex;
    align-items: flex-start;
    font-size: 50px;
    padding: 0px 0px 20px 50px;
}

.logo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 140;
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #5C5A5A;
    height: 60px;
    width: 60px;
    
}

.guest{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 0 50px;
}

header{
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-bottom: 110px;
}
/*main*/

.recent-discussions{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: calc(50vw - 450px); 
    padding-right: 20px;
}

.head-discussions{
    font: inherit;
    font-size: 40px;
    padding-left: 50px;
    gap: 40px;
}

.post-item{
    display: flex;
    align-self: flex-end;
    max-width: 1200px;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}

.start{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px 60px 30px 0px;
}

.svg{
    height: 100px;
    padding-left: 1px;
}

.user{
    margin-top: -45px;
    
}

.name-1, .device-1{
    font: inherit;
    font-size: 20px;
    margin: 0;
}

.device-1{
    white-space: nowrap;
    color: #2137DC;
}

.content{
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-grow: 1;
}

.content-1 {
    white-space: normal;
    margin-top: 0;
    font-size: 20px;
}

time {
    align-self: flex-end;
    margin-bottom: 5px;
}

.answers{
    display: flex;
    justify-content: space-between;
}

.reply-btn{
    color: #2137DC;
    background: none;
    padding: 0;
    border: none;
    font: inherit;
    cursor: pointer;
}

.answer-1{
    text-decoration: none;
    color: #2137DC;
}