html{
    background-color: #ffffff;
    font-family: 'Manrope'; font-weight: normal;
}

.rectangle{
    background-color: #B6B0B0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger{
    display: flex;
    align-items: flex-start;
    font-size: 50px;
    padding: 0px 0px 20px 50px;
}

.logo{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 140;
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #5C5A5A;
    height: 60px;
    width: 60px;
    
}

.guest{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 0 50px;
}

header{
    margin-top: 40px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-bottom: 110px;
}
/*main*/

.recent-discussions{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: calc(50vw - 450px); 
    padding-right: 20px;
}

.head-discussions{
    font: inherit;
    font-size: 40px;
    padding-left: 50px;
    gap: 40px;
}

.post-item{
    display: flex;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
.post-item-fat-inline{
    display: flex;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 3px solid #000;
}

.start{
    display: flex;
    align-items: center;
    align-self: center;
    gap: 10px;
    margin: 0px 60px 30px 0px;
    width: 200px;
    flex-shrink: 0;
}

.svg{
    height: 100px;
    padding-left: 1px;
}

.user{
    margin-top: -45px;
    
}

.name-1, .device-1{
    font: inherit;
    font-size: 20px;
    margin: 0;
}

.device-1{
    white-space: nowrap;
    color: #2137DC;
}

.content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    min-width: 0;
    flex-grow: 1;
}

.content-1 {
    justify-content: center;    
    white-space: normal;
    margin-top: 0;
    font-size: 20px;
}

time {
    align-self: flex-end;
    margin-bottom: 5px;
}

.answers{
    display: flex;
    justify-content: space-between;
}

.reply-btn{
    color: #2137DC;
    background: none;
    padding: 0;
    border: none;
    font: inherit;
    cursor: pointer;
}

.answer-1{
    text-decoration: none;
    color: #2137DC;
}

.latest-news{
    display: flex;
    font: inherit;
    font-size: 40px;
    padding-left: 440px;
}

.main-news{
    display: grid;
    justify-content: center;
    gap: 10%;
    margin-bottom: 80px;
}

.mn-news{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    grid-template-areas: 
        "title tahoe"
        "desc  tahoe"
        "link  tahoe";
    padding: 30px;
    background-color: #F5F5F5;
    max-width: 1000px;
    border-radius: 5%;
}
.news-title{
    grid-area: title;
    margin: 0;
}
.news-desc{
    grid-area: desc;
    margin: 0;
}
.tahoe{
   grid-area: tahoe;
}
.learn-more{
    grid-area: link;
    margin: 0;
    color: #2137DC;
}

.footer{
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: center;
    align-items: center;
    background-color: #B6B0B0;
}
